{% extends "Kosebloggen/base.html" %}

{% block content %}
    {% for article in article_list %}
          <div class="row">
            <div class="col s12 m10 l10 xl8 offset-m1 offset-l1 offset-xl2 ">
              <a href="{% url 'articles:detail' article.id %}">
                <div class="card pink darken-1 hoverable ">
                  <div class="card-content white-text center-align">
                    <span class="card-title">
                      <h5>
                        {{article.title}}
                      </h5>
                    </span>
                    <p class=" pink-text text-lighten-5 show-on-medium-and-up">
                      {{ article.abstract }}
                    </p>
                    <br>
                    <p class=" pink-text text-lighten-4 show-on-medium-and-up">
                      {{article.author}}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
    {% endfor %}
{% endblock content %}
